<form method= 'POST' action ='/spellbooks/finish'>
<h2><label for='spellbook_name'>Spell Book Name: </label><br>
<input type="text" name ='new_book[book_name]' id='spellbook_name' placeholder = 'Spellbook Name' required></h2>


<% if @user_spells !=[] %>
<h3>User made Spells</h3>
<table class="spell_table">
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Spell Details</th>
        <th>Add to Spellbook</th>
    </tr>

 <% @user_spells.each do |spell| %>

<tr>
 <td><%= spell.name %></td>
 <td><%= spell.level == "0" ? "Cantrip" : spell.level %> </td>
 
    <td>
        <button type="button" class="collapsible"> Spell Details </button>
        <div class="collapse_content">
            <p>
                <strong>Spell name:</strong> <%= spell.name %> <br>
                <strong>Spell level:</strong> <%= spell.level == "0" ? "Cantrip" : spell.level %> <br>
                <strong>Spell school:</strong> <%= spell.school %> <br>
                <strong>Spell classes:</strong> <%= spell.classes %> <br>
                <strong>Spell range:</strong> <%= spell.range %> <br>
                <strong> Spell components:</strong> <%= spell.components %> <br>
                <strong>Spell materials: </strong><%= spell.material ? spell.material : "None Needed" %> <br>
                <strong>Can be cast as a ritual:</strong> <%= spell.ritual ? "Yes" : "No" %> <br>
                <strong>Spell concentration required: </strong><%= spell.concentration ? "Required" : "Not Required" %> <br>
                <strong>Spell duration:</strong> <%= spell.duration %> <br>
                <strong>Spell casting time: </strong><%= spell.casting_time %> <br>
                <br>
                <strong>Spell desciption:</strong> <%= spell.desc %> <br>
                <br>
                <strong>Spell at higher levels: </strong><%= spell.higher_level ? spell.higher_level : 'No Bonus for casting at higher level' %> <br>
            </p>
        </div> 
        </td>

    <td> 
    <input type='checkbox' name=new_book[user_spells][<%="#{spell.name}"%>] id=<%="#{spell.name}"%> value = <%="#{spell.id}"%> >
    </td>

</tr>

<% end %>
</table>

<% end %>

<h3>Official Spells</h3>

<table class="spell_table">
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Spell Details</th>
        <th>Add to Spellbook</th>
    </tr>

 <% @spell_list.each do |spell| %>
<% spell %>
<tr>
 <td><%= spell.name %></td>
 <td><%= spell.level == "0" ? "Cantrip" : spell.level %> </td>
 
    <td>
        <button type="button" class="collapsible"> Spell Details </button>
        <div class="collapse_content">
            <p>
                <strong>Spell name:</strong> <%= spell.name %> <br>
                <strong>Spell level:</strong> <%= spell.level == "0" ? "Cantrip" : spell.level %> <br>
                <strong>Spell school:</strong> <%= spell.school %> <br>
                <strong>Spell classes:</strong> <%= spell.classes %> <br>
                <strong>Spell range:</strong> <%= spell.range %> <br>
               <strong> Spell components:</strong> <%= spell.components %> <br>
                <strong>Spell materials: </strong><%= spell.material ? spell.material : "None Needed" %> <br>
                <strong>Can be cast as a ritual:</strong> <%= spell.ritual ? "Yes" : "No" %> <br>
                <strong>Spell concentration required: </strong><%= spell.concentration ? "Required" : "Not Required" %> <br>
                <strong>Spell duration:</strong> <%= spell.duration %> <br>
                <strong>Spell casting time: </strong><%= spell.casting_time %> <br>
                <br>
                <strong>Spell desciption:</strong> <%= spell.desc %> <br>
                <br>
                <strong>Spell at higher levels: </strong><%= spell.higher_level ? spell.higher_level : 'No Bonus for casting at higher level' %> <br>
            </p>
        </div> 
        </td>

    <td> 
    <input type='checkbox' name=new_book[spells][<%="#{spell.name}"%>] id=<%="#{spell.name}"%> value = <%="#{spell.id}"%> >
    </td>

</tr>

<% end %>
</table>
    <input type="hidden" name="new_book[book_class]" value=<%= "#{@type}" %>>
    <input type="submit" value ="Select Spells">
</form>





    <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>