<h1> Welcome to <%= @spellbook.book_name  %>, click on any of the spell names to see full details. </h1><br>
<p><%= @spellbook.book_name  %></p><br>
<% @spellbook.spells.sort_by{|spell| spell[:level]}.each do |spell| %>
<button type="button" class="collapsible"><%= spell.name %></button>
<div class="collapse_content">
  <p>
Spell name: <%= spell.name %> <br>
Spell level: <%= spell.level %> <br>
Spell school: <%= spell.school %> <br>
Spell classes: <%= spell.classes %> <br>
Spell desciption: <%= spell.desc %> <br>
Spell at higher levels: <%= spell.higher_level ? spell.higher_level : 'n\\a' %> <br>
Spell range: <%= spell.range %> <br>
Spell components: <%= spell.components %> <br>
Spell materials: <%= spell.material %> <br>
Spell ritual: <%= spell.ritual %> <br>
Spell concentration: <%= spell.concentration %> <br>
Spell duration: <%= spell.duration %> <br>
Spell casting time: <%= spell.casting_time %> <br>
  </p>
</div>
<% end %>



<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>