<h1> Welcome to <%= @spellbook.book_name  %>, click on any of the spell names to see full details. </h1><br>

<% full_spell_list = [] %>
<% full_spell_list << @spellbook.newspells %>
<% full_spell_list << @spellbook.spells %>

<table class="spell_table">
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Spell Details</th>
    </tr>


<% full_spell_list.flatten.sort_by{|spell| spell[:level]}.each do |spell| %>

<tr>
 <td><%= spell.name %></td>
 <td><%= spell.level == "0" ? "Cantrip" : spell.level %> </td>
<td>
<button type="button" class="collapsible"> Spell Details </button>
  <div class="collapse_content">  
  <p>
      <strong>Spell name:</strong> <%= spell.name %> <br>
      <strong>Spell level:</strong> <%= spell.level == "0" ? "Cantrip" : spell.level %> <br>
      <strong>Spell school:</strong> <%= spell.school %> <br>
      <strong>Spell classes:</strong> <%= spell.classes %> <br>
      <strong>Spell range:</strong> <%= spell.range %> <br>
      <strong> Spell components:</strong> <%= spell.components %> <br>
      <strong>Spell materials: </strong><%= spell.material ? spell.material : "None Needed" %> <br>
      <strong>Can be cast as a ritual:</strong> <%= spell.ritual ? "Yes" : "No" %> <br>
      <strong>Spell concentration required: </strong><%= spell.concentration ? "Required" : "Not Required" %> <br>
      <strong>Spell duration:</strong> <%= spell.duration %> <br>
      <strong>Spell casting time: </strong><%= spell.casting_time %> <br>
      <br>
      <strong>Spell desciption:</strong> <%= spell.desc %> <br>
      <br>
      <strong>Spell at higher levels: </strong><%= spell.higher_level ? spell.higher_level : 'No Bonus for casting at higher level' %> <br>
    </p>
  </div> <br> </td>
</tr>
<% end %>
</table>

    <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
