<h1> Spell Books for <%= current_user.username %> </h1>
<% Spellbook.all.select {|book| book.user_id == current_user.id}.each do |book|%>
<% #binding.pry %>
Book Name: <%= book.book_name %> <br>
Number of Spells: <%= book.spells.length %><br>
<form method='get' action = '/spellbooks/<%= book.id %>'>
<input type="submit" value="Furthur information/ View Spells ">
</form><br>

<form method='get' action = '/spellbooks/<%= book.id %>/edit'>
<input type="submit" value="Edit Spellbook"></form><br>

<form method='post' action = '/spellbooks/delete/<%= book.id %>'>
<input type="hidden" name="_method" value="delete" >
<input type="submit" value="Delete Spell Book">
</form><br>
<h2> ---------- </h2>
<% end %>

<ul>
   <li> <a href = '/'> Home </a>  </li>
   <li> <a href = '/spells'> Spells list </a> </li>
   <li> <a href = '/spellbooks'> Spellbooks </a> </li>
   <li> <a href = '/spellbooks/new'> New Spellbook </a> </li>
   <li> <a href= '/logout'> Logout </a>  </li>
</ul>